{{! Footer - Subscription }}
<div class="footer_subscription_block container">
    <div class="footer_subscription wrap">
        <div class="footer_subscription_formGroup">
                <h4>Subscribe Now!</h4>
            <p>Use this <a href="https://feedburner.google.com/fb/a/mailverify?uri=RobPickering&amp;loc=en_US">link</a> to receive an email every time I blog</p>
        </div>
    </div>
</div>