{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/robpickering"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook" href="https://www.facebook.com/robert.a.pickering.jr"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-google-plus" href="https://plus.google.com/+RobPickeringITVP"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/robertapickeringjr"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-youtube" href="https://www.youtube.com/user/pickerin"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="https://feeds.feedburner.com/RobPickering"></a>
    </li>
</ul>